

<div class="panel panel-default">
	<div class="panel-body">
		<h3>What is it?</h3>
		<p>PlayMyGame aims to provide Android indie developers with another tool to make their game stand out. The free app market is so overcrowded that is too easy for great games to just go unnoticed. It's also not uncommon to see poor games with mixed reviews charting high in install rankings. PlayMyGame will show first the lesser know games, specially if they have good reviews. At the same time it gives users a chance to discover games that they would never found searching in Google Play.</p>
		<h3>How does it work?</h3>
		<p>Anyone can <a href="#/submit">submit a game</a> from Google Play (as long as it's free and unpopular. That's right). The less installs the game has, the higher priority it will get to be displayed. Reviews also play a big role at indexing, as they are a measure of how good the game is to those who actually played it.</p>
		<h3>How does it <em>really</em> work?</h3>
		<p>You can see the algorithm used to index the games <a href="https://github.com/facundoolano/playmygame/blob/dev/models/app.js" target="_blank">here</a>.</p>
		<h3>Why?</h3>
		<p>This weekend project is a result of the frustration we got after seeing <a href="https://play.google.com/store/apps/details?id=com.dxco.pandavszombies" target="_blank">our game</a>, which we thought it was a winner, go unnoticed in the Play store. We realized there had to be another way: a PlayMyGame for the rest of us!</p>
	</div>
</div>