
<div class="panel panel-default">
  <div class="panel-heading">
  	<span class="game-title">Panda vs Zombies: Elvis Rage</span> <small>by DxCo Games</small>
  	<span class="pull-right"><a>Next <span aria-hidden="true">&raquo;</span></a></span>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div class="col-md-5 col-sm-4">
    		<a href="#" class="thumbnail">
    			<img src="https://lh6.ggpht.com/5mI27oolnooL__S3ns9qAf_6TsFNExMtUAwTKz6prWCxEmVkmZZZwe3lI-ZLbMawEJh3=w300-rw"/>
    		</a>
    	</div>
	    <div class="col-md-7 col-sm-8">
		    <p>Everyone in the neighborhood has gone zombie: zombies in the cemetery, zombies in the street, zombies in the countryside, zombies, zombies, zombies. And not just the peasant...</p>
		    <p>
			    <span class="fa fa-star" aria-hidden="true"></span>
			    <span class="fa fa-star" aria-hidden="true"></span>
			    <span class="fa fa-star" aria-hidden="true"></span>
			    <span class="fa fa-star" aria-hidden="true"></span>
			    <span class="fa fa-star" aria-hidden="true"></span>
			    4.7 (<span class="fa fa-user"/> 231) - <span class="fa fa-download"/> 1000
		    </p>
		    <p class="install text-center">
		    	<!--a class="btn btn-lg btn-default" href="#" role="button">Skip</a-->
		    	<a class="btn btn-lg btn-success" href="#" role="button">Install!</a>
		    </p>
		</div>
    </div>
  </div>
</div>
