
<div class="panel panel-default">
	<div class="panel-body">
		<h3>Submit your game</h3>
		<div class="alert alert-success" role="alert" ng-show="success">Your game was successfully submitted.</div>
		<div class="alert alert-danger" role="alert" ng-show="error">{{error}}</div>
		<form name="submitForm" ng-show="!success">
		  <div class="form-group">
		    <input type="text" class="form-control" id="appId" placeholder="Enter the Google Play ID or url" ng-model="app.appId" required>
		    <span class="error" ng-show="submitForm.appId.$error.required">Required!</span>
		    <p class="help-block">Example: com.dxco.pandavszombies</p>
		  </div>
		  <div class="form-actions">
		  	<button type="submit" ng-disabled="submitForm.$invalid" ng-click="submit();" class="btn btn-lg btn-success">Submit</button>
		  </div>
		</form>
	</div>
</div>