
<div class="panel panel-default">
	<div class="panel-body">
		<p class="lead">Submit your game</p>
		<form>
		  <div class="form-group">
		    <label for="exampleInputEmail1">Google Play ID</label>
		    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter the Google Play ID">
		    <p class="help-block">Example: com.dxco.pandavszombies</p>
		  </div>
		  <div class="form-actions">
		  	<button type="submit" class="btn btn-lg btn-success">Submit</button>
		  </div>
		</form>
	</div>
</div>