
html {overflow-y: scroll;}

body {
  background: url(/images/pixel_weave.png) repeat 0 0;
}

.title {
	font-family: 'Patua One', cursive;
}

.nounderline, .nounderline:hover, .nounderline:focus{
	text-decoration: none;
	color: #333;
}

.install {
	padding-top: 14px;
}

.thumbnail {
	border: none;
}

.game-title {
	font-weight: bold;
	font-size: 16px;
}

.form-actions {
	text-align: center;
}

.slide.ng-enter {
  transition: left 150ms ease;
  -webkit-transition:left 150ms ease;
  -moz-transition: left 150ms ease;
  -o-transition: left 150ms ease;

  position:relative;
  opacity:0;
  left:100%;
}

.slide.ng-leave{
	left:-100%;
}

.slide.ng-enter.ng-enter-active{
  left:0;
  opacity: 1;
}
.slide.ng-leave.ng-leave-active{
  left:0;
  opacity:1;
}
}